
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 120px;
  background: linear-gradient(45deg, #4056A1, #243260);
  color: #FFFFFF ;
  font-size: 40px;
  font-family: 'Bungee', sans-serif;
}


.nav-title {
  align-self: flex-end;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}

.nav-button {
  display:flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5em;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-angles-down {
  color: #f00000;
}